@import '../../utils/variables';
@import '../../utils/mixins';
@import '../../utils/base';

.banner {
    border: solid 10px red;
    &_img {
        position: relative;
        border-radius: 25px;
    }    
}
