.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.8em;
    &_title { 
      color: white;
      font-size: 25px;
      font-weight: 400;
      position: absolute;
      z-index: 1;
      padding: 2em;
    }
    &_img {
      position: relative;
      overflow: hidden;
      object-fit: cover;
      width: 100%;
      border-radius: 15px;
      filter: brightness(65%);
      height: 12em;
    } 
    @include desktop {
    display: flex;
      justify-content: center;
      margin-top: 1.8em;
      &_title {
        font-size: 45px;
      }
    }
  }
  