.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    &_title { 
        position: absolute;
        color: white;
        font-size: 45px;
        font-weight: 500;
        z-index: 1;
    }
    &_img {
        position: relative;
        overflow: hidden;
        object-fit: cover;
        height: 223px;
        width: 100%;
        border-radius: 25px;
        filter: brightness(65%);
    }   
}
