@import '../../utils/variables';
@import '../../utils/mixins';
@import '../../utils/base';

.header {   
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-weight: 400;
    color: $primary-color;
    &_nav ul {
        display: flex;
        flex-direction: row;
    }
    &_nav_link_active {
        text-decoration: underline ;
    }
    @include desktop{
        margin: 40px 60px;
        &_nav ul {
            gap: 4rem;
        }
        &_logo_img {
            width: 140vh;
        }
        &_nav_link {
            font-size: 20px;
        }
    }
    @include tablet{
        margin: 20px 40px;
        &_nav ul {
            gap: 2rem;
        }  
        &_logo_img {
            width: 100vh;
        }
        &_nav_link {
            font-size: 16px;
        }    
    }
    @include mobile {
        text-transform: uppercase;
        margin: 10px 20px;
        &_nav ul {
            gap: 1rem;
        }  
        &_logo_img {
            width: 80vh;
        }
        &_nav_link {
            font-size: 14px;
        }    
    }
}
