@import '../../utils/variables';

.presentation_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include desktop {
        justify-content: space-between;
    }
    h1 {
        color: $primary-color;
        font-size: 1.6rem;
        font-weight: 400;
        margin: 12px 0 10px;
    }
    h2 {
        color: $primary-color;
        font-size: 1.1rem;
        font-weight: 400;
        margin: 5px 0 0;
    }
}