.accomodation_container {
    @include desktop {
        @include margin-desktop;
    }
    @include tablet {
        @include margin-tablet;
    }
    @include mobile {
        @include margin-mobile;
    }
}

.accomodation_scrollings {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    @include desktop {
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: row;
    }
   .scrolling {
        &_content {
            padding: 15px 15px 0;
        }
    }
}