.accomodation {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(251,251,251,0) 40%);
    @include desktop {
        width: 30%;
        height: 260px;
        margin-bottom: 50px;
    }
    @include tablet {
        width: 48%;
        height: 200px;
        margin-bottom: 30px;
    }
    @include mobile {
        width: 100%;
        height: 300px;
        margin-bottom: 25px;
    }
    &_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &_title {
        position: absolute;
        bottom: 0;
        padding-left: 1em;
        font-weight: 300;
        font-size: 15px;
        color: white;
        z-index: 1;
        @include mobile {
            font-size: 18px;
        }
    }
}