@import '../utils/variables';
@import '../utils/base';

.collapses-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.collapses {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 85%;
    @include tablet {
        width: 100%;
    }
    @include mobile {
        width: 100%;
    }
}

.collapse {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    &_button {
        cursor: pointer;
        z-index: 1;
        display: flex;
        align-items: center;
        background-color: $primary-color;
        border-radius: 8px;
        height: 35px;
        padding-left: 1em;
        justify-content: space-between;
        h2 {
            display: flex;
            color: white;
            font-size: 1rem;
            font-weight: 400;
        }
        .arrow-container {
            margin-right: 20px;
            .arrow {
                font-size: 1.7em;
                color: white;
                display: flex;
            }
        &-up {
            transform: rotate(180deg);
        }
        }
        
    }
    &_content {
        font-size: 0.8;
        font-weight: 400;
        line-height: 30px;
        margin-top: -0.5em;
        border-radius: 8px;
        z-index: 0;
        padding: 30px 15px 10px;
        color: $primary-color;
        background-color: $secondary-color;
    }
}

