@import '../../utils/variables';

.gallery {
    margin: 40px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $secondary-color;
    padding: 45px 45px 0;
    border-radius: 15px;
    @include mobile {
        margin-top: 20px;
        background-color: inherit;
        padding: 0;
        flex-direction: column;    
        gap: 20px;
    }
    @include tablet {
        margin-top: 20px;
        background-color: inherit;
        padding: 0;
        gap: 10px;
    }
}
