@import '../../utils/variables';

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    background-color: $secondary-color;
    padding: 40px;
}
