* {
    text-decoration: none;
    font-family: $font-family;
    box-sizing: border-box;
}

body {
    margin: 0;
}
/*body {
    @include desktop {
        margin: 40px 60px;
    }
    @include tablet {
        margin: 20px 40px 20px ;
    }
    @include mobile {
        margin: 15px 25px 20px;
    }
}*/


ul {
    list-style-type: none;
}

a {
    color: inherit;
}
